.advantages-item {
  position: relative;

  &::before {
    content: "";
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    background-color: #68b738;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powd::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  .advantages-item__description {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
