.advantages {
  margin-bottom: 22px;

  @media (min-width: $bp-tablet) {
    margin-top: 45px;
    border-bottom: 1px solid #ededed;
  }

  @media (min-width: $bp-desktop) {
    margin-top: 48px;
    border: none;
  }

  .advantages__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.67;
    margin: 0;
    margin-bottom: 28px;

    @media (min-width: $bp-tablet) {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 40px;
    }
  }

  .advantages__list {
    margin: 0;
    padding: 0;

    @media (min-width: $bp-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $bp-desktop) {
      justify-content: space-between;
      border: none;
    }
  }

  .advantages__item {
    list-style: none;
    padding-left: 80px;
    font-size: 14px;
    text-align: left;
    color: #444444;
    padding-bottom: 18px;

    @media (min-width: $bp-tablet) {
      padding: 0;
      min-width: 325px;
      min-height: 317px;
    }

    @media (min-width: $bp-desktop) {
      min-width: 245px;
    }
  }
}
