.advantages-item {
  position: relative;

  @media (min-width: $bp-tablet) {
    max-width: 250px;
    padding-right: 35px;
  }

  &::before {
    content: "";
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    background-color: #68b738;
    background-position: center;

    @media (min-width: $bp-tablet) {
      top: 0;
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powd::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  .advantages-item__description {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    @media (min-width: $bp-tablet) {
      padding: 0;
      line-height: 1.5;
    }
  }
}
