.advantages-item {
  position: relative;

  &--leaf {
    &::before {
      content: "";
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      background-color: #68b738;
      position: absolute;
      left: 0;
      background-position: center;
    }
  }

  &--powd {
    &::before {
      content: "";
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      background-color: #68b738;
      position: absolute;
      left: 0;
      background-position: center;
    }
  }

  &--dining {
    &::before {
      content: "";
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      background-color: #68b738;
      position: absolute;
      left: 0;
      background-position: center;
    }
  }

  &--clock {
    &::before {
      content: "";
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      background-color: #68b738;
      position: absolute;
      left: 0;
      background-position: center;
    }
  }
}
