.catalog {
  @media (min-width: $bp-desktop) {
    margin-top: 72px;
  }

  .catalog__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    line-height: 1.67;
    font-weight: normal;
    border-bottom: 1px solid #ededed;
    padding-top: 15px;
    padding-bottom: 28px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 320px;
    margin: 0 auto;

    @media (min-width: $bp-tablet) {
      max-width: 768px;
      border: none;
      font-size: 60px;
      line-height: 1;
      padding: 0;
      padding-top: 28px;
      padding-left: 30px;
    }

    @media (min-width: $bp-desktop) {
      padding: 0 110px;
      max-width: 1440px;
    }
  }

  .catalog__list {
    list-style: none;
    padding: 0;
    max-width: 320px;
    margin: 0 auto;

    @media (min-width: $bp-tablet) {
      max-width: 768px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 30px;
      padding-top: 26px;
    }

    @media (min-width: $bp-desktop) {
      padding: 0 110px;
      padding-top: 24px;
      max-width: 1440px;
    }
  }
}
