.contacts {
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    width: 55px;
    height: 53px;
    top: 53%;
    left: 40%;
    position: absolute;
    background-size: cover;

    @media (min-width: $bp-tablet) {
      width: 113px;
      height: 106px;
      top: 57%;
      left: 42%;
    }

    @media (min-width: $bp-desktop) {
      top: 37%;
      left: 69%;
    }
  }

  .contacts__map {
    border: none;
    height: 362px;
    margin: 0 auto;
    position: relative;

    @media (min-width: $bp-tablet) {
      height: 400px;
      width: 100%;
    }

    @media (min-width: $bp-desktop) {
      width: 1440px;
    }
  }
}
