.contacts-inner {
  display: flex;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 25px;

  @media (min-width: $bp-tablet) {
    padding: 0 72px;
    padding-top: 64px;
    padding-bottom: 60px;
    justify-content: space-between;
    align-items: stretch;
  }

  @media (min-width: $bp-desktop) {
    position: absolute;
    left: 110px;
    top: 90px;
    background-color: #ffffff;
    min-width: 570px;
    z-index: 1;
    padding-left: 76px;
    padding-right: 76px;
  }

  .contacts-inner__invite {
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 0;
    padding-right: 18px;

    @media (min-width: $bp-tablet) {
      max-width: 154px;
      font-size: 20px;
      padding: 0;
    }
  }

  .contacts-inner__address {
    font-size: 14px;
    line-height: 1.43;
    color: #444444;
    margin: 0;

    @media (min-width: $bp-tablet) {
      font-size: 16px;
      line-height: 1.25;
      text-align: right;
      max-width: 165px;
    }

    @media (min-width: $bp-desktop) {
      text-align: left;
      max-width: 168px;
    }
  }

  .contacts-inner__city {
    @media (min-width: $bp-tablet) {
      margin-top: 20px;
      display: block;
    }
  }
}
