.copyright__link {
  text-decoration: none;
  color: #444444;
  line-height: 1;
  padding-top: 9px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $bp-tablet) {
    padding-right: 23px;
    padding-top: 0;
  }
}

.copyright__image {
  fill: #666666;
  display: block;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
