.copyright__link {
  text-decoration: none;
  color: #444444;
  line-height: 1;

  @media (min-width: $bp-tablet) {
    padding-right: 23px;
  }
}

.copyright__image {
  fill: #666666;
  width: 27px;
  height: 34px;
  display: block;
}
