.copyright__link {
  text-decoration: none;
  color: #444444;
  line-height: 1;
  padding-top: 9px;

  @media (min-width: $bp-tablet) {
    padding-right: 23px;
  }
}

.copyright__image {
  fill: #666666;
  display: block;
}
