.diets-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-top: 10px;
}

.diets-item__description {
  font-size: 14px;
  color: #444444;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}

.diets-item__link {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  color: #111111;
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 12px;
    position: absolute;
    left: 95px;
    top: 25px;
  }
}

.diets-item {
  list-style: none;
  position: relative;

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::before,
  &--fat::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #68b738;
    position: absolute;
    left: 20px;
    border-radius: 50%;
  }

  &--slim::after {
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    left: 29px;
    top: 21px;
    position: absolute;
  }

  &--fat::after {
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    left: 12px;
    top: 33px;
    position: absolute;
  }
}
