.diets__list {
  padding: 0;
  margin: 0;

  @media (min-width: $bp-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.diets__item {
  background-color: #f2f2f2;
  padding: 22px 20px;
  margin-bottom: 20px;

  @media (min-width: $bp-tablet) {
    min-height: 372px;
    padding: 60px 50px;
  }
}
