.diets-item {
  list-style: none;
  position: relative;

  @media (min-width: $bp-tablet) {
    width: 100%;
    margin-bottom: 29px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 570px;
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::before,
  &--fat::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #68b738;
    position: absolute;
    left: 22px;
    top: 27px;
    border-radius: 50%;

    @media (min-width: $bp-tablet) {
      width: 200px;
      height: 200px;
      left: 446px;
      top: 90px;
    }

    @media (min-width: $bp-desktop) {
      width: 100px;
      height: 100px;
      left: 50px;
      top: 50px;
    }
  }

  &--slim::after {
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    left: 30px;
    top: 25px;
    position: absolute;

    @media (min-width: $bp-tablet) {
      width: 141px;
      height: 194px;
      left: 475px;
      top: 78px;
    }

    @media (min-width: $bp-desktop) {
      width: 71px;
      height: 97px;
      left: 65px;
      top: 47px;
    }
  }

  &--fat::after {
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    left: 13px;
    top: 37px;
    position: absolute;

    @media (min-width: $bp-tablet) {
      width: 268px;
      height: 113px;
      left: 412px;
      top: 133px;
    }

    @media (min-width: $bp-desktop) {
      width: 134px;
      height: 57px;
      left: 32px;
      top: 73px;
    }
  }
}

.diets-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-top: 10px;

  @media (min-width: $bp-tablet) {
    font-size: 36px;
    line-height: 1.03;
    padding: 0;
    padding-top: 20px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 165px;
  }
}

.diets-item__description {
  font-size: 14px;
  color: #444444;
  padding-top: 31px;
  padding-bottom: 21px;
  margin: 0;

  @media (min-width: $bp-tablet) {
    width: 372px;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;

    &--fat {
      max-width: 344px;
    }
  }

  @media (min-width: $bp-desktop) {
    padding: 0;
    padding-top: 75px;
    width: 100%;
  }
}

.diets-item__link {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  color: #111111;
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;

  @media (min-width: $bp-tablet) {
    border: none;
    font-size: 20px;
    padding-top: 35px;
  }

  &::after {
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 12px;
    position: absolute;
    left: 95px;
    top: 25px;

    @media (min-width: $bp-tablet) {
      left: 130px;
      top: 40px;
    }
  }
}
