.feed {
  padding: 0 20px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 24px;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 325px;
    min-height: 430px;
    border: none;
    align-items: center;
    background-color: #f2f2f2;
    padding: 38px;
    margin: 0;
    margin-top: 140px;
    position: relative;
  }

  @media (min-width: $bp-desktop) {
    max-width: 245px;
    margin-top: 142px;
  }
}

.feed__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  margin-top: 21px;

  @media (min-width: $bp-tablet) {
    font-size: 20px;
    line-height: 1;
    text-align: center;
    padding: 0 60px;
    margin-top: 125px;
  }

  @media (min-width: $bp-desktop) {
    padding: 0 20px;
    margin-top: 123px;
  }
}

.feed__info-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;

  @media (min-width: $bp-tablet) {
    margin-top: 22px;
  }
}

.feed__info-category,
.feed__info-value {
  font-size: 12px;
  line-height: 1.33;
  color: #444444;

  @media (min-width: $bp-tablet) {
    font-size: 16px;
    line-height: 1;
    padding: 5px 0;
  }
}

.feed__description {
  margin: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $bp-tablet) {
    width: 250px;
    padding-bottom: 2px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 170px;
  }
}

.feed__image {
  max-width: 140px;

  @media (min-width: $bp-tablet) {
    min-width: 318px;
    position: absolute;
    top: -45px;
    left: 3px;

    &--big {
      top: -81px;
    }
  }

  @media (min-width: $bp-desktop) {
    min-width: 245px;
    top: -48px;
    left: 0;

    &--big {
      top: -84px;
    }
  }
}

.feed__link {
  @media (min-width: $bp-tablet) {
    margin-top: 30px;
  }
}

.feed__info-item {
  @media (min-width: $bp-tablet) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3px;
  }
}

.feed__inner {
  display: flex;
}
