.form {
  @media (min-width: $bp-tablet) {
    padding: 0 40px;
  }

  @media (min-width: $bp-desktop) {
    padding: 0;
  }

  .form__label {
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 1.13;
    color: #222222;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 13px;
    align-items: center;
    position: relative;
    cursor: pointer;

    &--checkbox,
    &--radio {
      padding-left: 45px;
      padding-top: 15px;
      padding-bottom: 10px;
      margin: 0;
      position: relative;
    }

    &--checkbox {
      padding-top: 6px;
      padding-bottom: 19px;
    }

    &--radio::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
    }

    &--checkbox::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
    }

    @media (min-width: $bp-tablet) {
      &--checkbox {
        min-width: 290px;
      }

      &--radio {
        padding-left: 90px;
      }
    }

    @media (min-width: $bp-desktop) {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 20px;
      min-width: 570px;

      &--checkbox {
        min-width: 280px;
      }
    }
  }

  .form__input {
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 1.13;
    color: #444444;
    text-transform: uppercase;
    padding: 13px;
    margin-left: 11px;
    border: 1px solid #cdcdcd;
    flex-grow: 1;
    font-size: 16px;

    &--email {
      position: relative;
    }

    &--email::after {
      content: "";
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-color: #68b738;
      position: absolute;
      width: 18px;
      height: 14px;
      top: 0;
      right: 0;
    }
  }

  .form__legend {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    line-height: 1;
    padding: 0;
    padding-top: 30px;
    margin-bottom: 33px;
    position: relative;

    @media (min-width: $bp-tablet) {
      margin-bottom: 70px;
      padding: 0;
      font-size: 36px;
    }

    &--textarea {
      padding-top: 14px;
    }

    &--checkbox {
      padding-top: 11px;
    }

    &::after {
      content: "";
      width: 100px;
      height: 3px;
      background-color: #68b738;
      position: absolute;
      right: -20px;
      top: 42px;
    }

    &--textarea::after {
      width: 158px;
      top: 28px;
      right: -180px;
    }

    &--checkbox::after {
      width: 136px;
      top: 24px;
      right: -160px;
    }
  }

  .form__contacts,
  .form__comment,
  .form__additionally {
    border: none;
    padding: 0;
    margin: 0;
  }

  .form__textarea {
    width: 100%;
    min-height: 150px;
    resize: none;
    padding: 13px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.13;
    color: #444444;
    text-transform: uppercase;
    border: 1px solid #cdcdcd;
    margin-bottom: 15px;

    @media (min-width: $bp-tablet) {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .form__button {
    margin-top: 21px;
    margin-bottom: 22px;
    font-size: 16px;

    @media (min-width: $bp-tablet) {
      max-width: 283px;
      margin: 0;
      font-size: 20px;
      line-height: 1;
      padding: 15px;
      margin-right: 60px;
    }

    @media (min-width: $bp-desktop) {
      max-width: 568px;
    }
  }

  .form__attention {
    font-size: 14px;
    line-height: 1.14;
    color: #444444;
    display: block;
    text-align: center;
  }

  .form__introduction,
  .form__program {
    border-bottom: 1px solid #ededed;
    padding-top: 20px;
    padding-bottom: 12px;

    &--radio {
      padding-top: 11px;
      padding-bottom: 16px;
    }

    @media (min-width: $bp-tablet) {
      padding: 0;
      border: none;
      margin-top: 70px;
    }
  }

  .form__program {
    @media (min-width: $bp-tablet) {
      border: 1px solid #ededed;
      padding-top: 25px;
    }
  }

  .form__contacts {
    @media (min-width: $bp-tablet) {
      margin-top: 80px;
    }
  }

  .form__comment,
  .form__additionally {
    @media (min-width: $bp-tablet) {
      margin-top: 70px;
    }
  }

  .form__checkbox-wrapper {
    @media (min-width: $bp-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form-inner__button-attention {
    @media (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      margin-top: 55px;
    }
  }

  .form__contacts-wrapper {
    @media (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  .form-inner__introduction-program {
    @media (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  .form__radio,
  .form__checkbox {
    position: absolute;
    cursor: pointer;
  }
}
