.form {
  @media (min-width: $bp-tablet) {
    padding: 0 40px;
  }

  @media (min-width: $bp-desktop) {
    padding: 0;
  }

  .form__label {
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 1.13;
    color: #222222;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    position: relative;
    cursor: pointer;

    @media (min-width: $bp-tablet) {
      font-size: 20px;
      margin-bottom: 24px;
    }

    &--checkbox,
    &--radio {
      padding-left: 45px;
      padding-top: 15px;
      padding-bottom: 10px;
      margin: 0;
      position: relative;

      &:active {
        opacity: 0.3;
      }
    }

    &--checkbox {
      padding-top: 6px;
      padding-bottom: 19px;

      @media (min-width: $bp-tablet) {
        padding-bottom: 44px;
      }
    }

    &--radio::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;

      @media (min-width: $bp-tablet) {
        width: 40px;
        height: 40px;
      }
    }

    &--checkbox::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;

      @media (min-width: $bp-tablet) {
        width: 40px;
        height: 40px;
        top: -2px;
      }
    }

    @media (min-width: $bp-tablet) {
      &--checkbox {
        min-width: 284px;
        padding-left: 58px;
      }

      &--radio {
        padding-left: 59px;
        padding-bottom: 15px;
      }
    }

    @media (min-width: $bp-desktop) {
      font-size: 20px;
      line-height: 1;

      &--checkbox {
        min-width: 245px;
      }

      &--radio {
        padding-bottom: 17px;
      }
    }
  }

  .form__input {
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 1.13;
    color: #444444;
    text-transform: uppercase;
    padding: 13px;
    margin-left: 15px;
    box-shadow: 0 0 0 1px rgba(205, 205, 205, 0.5);
    border: 0;
    flex-grow: 1;
    font-size: 16px;
    outline: 0;

    &:hover {
      box-shadow: 0 0 0 1px #cdcdcd;
    }

    &:focus {
      box-shadow: 0 0 0 2px #444444;
    }

    @media (min-width: $bp-tablet) {
      margin-left: 17px;
      font-size: 20px;
      padding-left: 18px;
    }
  }

  .form__legend {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    line-height: 1;
    padding: 0;
    padding-top: 30px;
    margin-bottom: 33px;
    position: relative;

    @media (min-width: $bp-tablet) {
      margin-bottom: 77px;
      padding: 0;
      font-size: 36px;
    }

    &--textarea {
      padding-top: 14px;
    }

    &::before {
      @media (min-width: $bp-tablet) {
        content: "";
        width: 30px;
        height: 3px;
        background-color: #68b738;
        position: absolute;
        top: 22px;
        left: -70px;
      }

      @media (min-width: $bp-desktop) {
        width: 70px;
        left: -110px;
      }
    }

    &--textarea::before {
      @media (min-width: $bp-tablet) {
        top: 36px;
      }
    }

    &--checkbox::before {
      @media (min-width: $bp-tablet) {
        top: 47px;
      }
    }

    &::after {
      content: "";
      width: 100px;
      height: 3px;
      background-color: #68b738;
      position: absolute;
      right: -20px;
      top: 42px;

      @media (min-width: $bp-tablet) {
        right: -186px;
        top: 22px;
        width: 145px;
      }

      @media (min-width: $bp-desktop) {
        width: 777px;
        right: -818px;
      }
    }

    &--textarea::after {
      width: 158px;
      top: 28px;
      right: -180px;

      @media (min-width: $bp-tablet) {
        width: 480px;
        top: 36px;
        right: -518px;
      }

      @media (min-width: $bp-desktop) {
        width: 1110px;
        right: -1150px;
      }
    }

    &--checkbox::after {
      width: 136px;
      top: 38px;
      right: -160px;

      @media (min-width: $bp-tablet) {
        width: 445px;
        top: 47px;
        right: -487px;
      }

      @media (min-width: $bp-desktop) {
        width: 1080px;
        right: -1120px;
      }
    }

    &--checkbox {
      padding: 0;
      padding-top: 25px;

      @media (min-width: $bp-tablet) {
        margin-bottom: 60px;
      }
    }
  }

  .form__contacts,
  .form__comment,
  .form__additionally {
    border: none;
    margin: 0;

    @media (min-width: $bp-desktop) {
      padding: 0;
    }
  }

  .form__textarea {
    width: 100%;
    min-height: 150px;
    resize: none;
    padding: 13px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.13;
    color: #444444;
    text-transform: uppercase;
    border: 1px solid #cdcdcd;

    @media (min-width: $bp-tablet) {
      font-size: 20px;
      line-height: 1.5;
      padding: 8px 18px;
      margin: 0;
      min-height: 174px;
    }
  }

  .form__button {
    margin-top: 21px;
    margin-bottom: 22px;
    font-size: 16px;

    @media (min-width: $bp-tablet) {
      max-width: 283px;
      margin: 0;
      font-size: 20px;
      line-height: 1;
      padding: 15px;
      margin-right: 62px;
    }

    @media (min-width: $bp-desktop) {
      max-width: 570px;
      margin-right: 81px;
    }
  }

  .form__attention {
    font-size: 14px;
    line-height: 1.14;
    color: #444444;
    display: block;
    text-align: center;

    @media (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }

  .form__introduction,
  .form__program {
    border-bottom: 1px solid #ededed;
    padding-top: 20px;
    padding-bottom: 8px;

    &--radio {
      padding-top: 11px;
      padding-bottom: 16px;
    }

    @media (min-width: $bp-tablet) {
      padding: 0;
      border: none;
      margin-bottom: 75px;
    }

    @media (min-width: $bp-desktop) {
      margin: 0;
      min-width: 570px;
    }
  }

  .form__program {
    @media (min-width: $bp-tablet) {
      border: 1px solid #ededed;
      padding-top: 17px;
      padding-bottom: 20px;
      padding-right: 28px;
      padding-left: 28px;
    }

    &--radio {
      @media (min-width: $bp-desktop) {
        margin-left: 80px;
        max-height: 196px;
      }
    }
  }

  .form__contacts {
    @media (min-width: $bp-tablet) {
      margin-top: 75px;
      margin-bottom: 25px;
    }

    @media (min-width: $bp-desktop) {
      margin-top: 48px;
      margin-bottom: 32px;
    }
  }

  .form__comment {
    @media (min-width: $bp-tablet) {
      margin-bottom: 34px;
    }

    @media (min-width: $bp-desktop) {
      margin-bottom: 36px;
    }
  }

  .form__checkbox-wrapper {
    @media (min-width: $bp-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form-inner__button-attention {
    @media (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      margin-top: 18px;
    }

    @media (min-width: $bp-desktop) {
      margin-top: 26px;
      padding: 0;
    }
  }

  .form__contacts-wrapper {
    @media (min-width: $bp-tablet) {
      position: relative;
    }

    @media (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  .form-inner__introduction-program {
    @media (min-width: $bp-tablet) {
      margin: 0 30px;
    }

    @media (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }

  .form__radio,
  .form__checkbox {
    position: absolute;
    cursor: pointer;

    &:hover + .form__label::before {
      border: 1px solid #bababa;
    }

    &:focus + .form__label::before {
      border: 1px solid #bababa;
    }
  }

  .form__radio:checked + .form__label--radio::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: #68b738;
    border-radius: 50%;
    display: block;

    @media (min-width: $bp-tablet) {
      width: 18px;
      height: 18px;
      left: 11px;
      top: 18px;
    }
  }

  .form__checkbox:checked + .form__label--checkbox::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 12px;
    border-bottom: 2px solid #68b738;
    border-left: 2px solid #68b738;
    transform: rotate(-45deg);

    @media (min-width: $bp-tablet) {
      top: 9px;
      left: 10px;
    }
  }

  .form__icon {
    position: absolute;

    &:active {
      fill: #68b738;
    }

    &--mail {
      width: 18px;
      height: 14px;
      right: 15px;
      top: 16px;

      @media (min-width: $bp-tablet) {
        top: 20px;
      }

      @media (min-width: $bp-desktop) {
        right: 20px;
        top: 18px;
      }
    }

    &--tel {
      width: 21px;
      height: 21px;
      right: 12px;
      top: 13px;

      @media (min-width: $bp-desktop) {
        right: 18px;
      }
    }
  }

  .form__contacts-email,
  .form__contacts-tel {
    display: flex;
    align-items: baseline;
    position: relative;
    margin-bottom: 13px;

    @media (min-width: $bp-tablet) {
      margin-bottom: 15px;
    }

    @media (min-width: $bp-desktop) {
      min-width: 570px;
    }
  }
}
