.image-toggle {
  &::before {
    content: "";
    width: 84px;
    height: 14px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    position: absolute;
    top: 3px;
    left: 118px;
    border-radius: 10px;

    @media (min-width: $bp-tablet) {
      left: 138px;
      width: 428px;
      height: 6px;
      top: 8px;
      background-color: #dcdcdc;
    }

    @media (min-width: $bp-desktop) {
      left: 70px;
    }
  }

  &::after {
    content: "";
    width: 35px;
    height: 6px;
    background-color: #68b738;
    position: absolute;
    top: 7px;
    left: 125px;
    border-radius: 3px;

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }

  .image-toggle__text {
    @media (min-width: $bp-tablet) {
      border-bottom: 1px solid rgba(17, 17, 17, 0.23);
      padding: 0;
      padding-bottom: 7px;

      &:hover {
        border-bottom: 1px solid rgba(17, 17, 17, 0.4);
      }

      &:active {
        border: none;
      }
    }

    &--became {
      margin-left: 60px;
    }

    &--was {
      margin-right: 60px;
    }
  }

  .image-toggle__slider {
    position: absolute;
    display: none;

    @media (min-width: $bp-tablet) {
      background-color: #68b738;
      cursor: pointer;
      transform: translateX(-50%);
      display: block;
      width: 34px;
      height: 34px;
      top: -6px;
      left: 50%;
      border-radius: 50%;
      border: 13px solid #ffffff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

      &:hover {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      }

      &:active {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 2px #68b738;
      }
    }
  }
}
