.intro {
  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, #68b738 305px, #ffffff 0, #ffffff);
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  min-height: 500px;
  position: relative;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, #68b738 305px, #ffffff 0, #ffffff);
    background-size: 320px auto;
  }

  @media (min-width: $bp-tablet) {
    background-image: none;
    position: relative;
    min-height: 850px;
  }

  @media (min-width: $bp-desktop) {
    display: flex;
    min-height: 500px;
    margin-top: 77px;

    &::before {
      content: "";
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-color: #68b738;
      position: absolute;
      top: -195px;
      right: 0;
      width: 720px;
      height: 696px;
      z-index: -1;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .intro__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 25px;
    font-weight: normal;

    @media (min-width: $bp-tablet) {
      padding-left: 87px;
      font-size: 60px;
      color: #111111;
      text-align: left;
      padding-bottom: 41px;
    }

    @media (min-width: $bp-desktop) {
      width: 505px;
      padding-left: 82px;
      padding-top: 30px;
    }
  }

  .intro__slogan {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    @media (min-width: $bp-tablet) {
      font-size: 20px;
      color: #111111;
      text-align: left;
      padding-left: 89px;
    }

    @media (min-width: $bp-desktop) {
      padding-left: 80px;
    }
  }

  .intro__image {
    margin-top: 30px;
    position: absolute;
    top: 137px;
    left: 20px;

    @media (min-width: $bp-tablet) {
      top: 230px;
      left: 30px;
      height: 610px;
      width: 710px;
      margin: 0;
    }

    @media (min-width: $bp-desktop) {
      width: 550px;
      height: 500px;
      top: -52px;
      left: 560px;
    }
  }

  .intro__link {
    font-size: 14px;
    line-height: 1.29;
    margin-top: auto;
    margin-bottom: 21px;

    @media (min-width: $bp-tablet) {
      padding: 15px;
      margin: 0;
      font-size: 20px;
      line-height: 1;
      margin-left: 88px;
      margin-top: 48px;
      z-index: 1;
      max-width: 245px;
    }

    @media (min-width: $bp-desktop) {
      margin-top: 52px;
      margin-left: 80px;
    }
  }

  .intro__inner {
    min-height: 500px;
    display: flex;
    flex-direction: column;

    @media (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
    }
  }
}
