.intro {
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #68b738 305px, #ffffff 0, #ffffff);
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 320px;

  .intro__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    font-weight: normal;
  }

  .intro__slogan {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: 0;
  }

  .intro__image {
    margin-top: 30px;
  }

  .intro__link {
    font-size: 14px;
    line-height: 1.29;
    margin-top: 3px;
  }
}
