.logo-header {
  display: flex;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;

  @media (min-width: $bp-tablet) {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    min-width: 174px;
    height: 60px;
    margin-right: 94px;
  }

  @media (min-width: $bp-desktop) {
    min-width: 203px;
    margin: 0;
  }

  .logo-header__image {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $bp-tablet) {
      width: 174px;
      height: 69px;
    }

    @media (min-width: $bp-desktop) {
      width: 203px;
      height: 60px;
    }
  }
}
