.logo-footer {
  display: flex;
  justify-content: center;
}

.logo-footer__image {
  @media (min-width: $bp-desktop) {
    height: 40px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
