.main-nav {
  position: relative;

  @media (min-width: $bp-tablet) {
    width: 100%;
  }

  .main-nav__toggle {
    position: absolute;
    top: -43px;
    right: 20px;
    width: 25px;
    height: 19px;
    margin: 0;
    padding: 0;
    background: 0 0;
    border: 0;
    z-index: 2;
    cursor: pointer;

    @media (min-width: $bp-tablet) {
      display: none;
      width: 100%;
    }
  }

  &--opened::before,
  &--opened::after {
    content: "";
    position: absolute;
    top: -35px;
    right: 20px;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &--opened::before {
    transform: rotate(45deg);
  }

  &--opened::after {
    transform: rotate(-45deg);
  }

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #222222;
    box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
  }

  @media (max-width: 767px) {
    &--closed .nav-list__item {
      display: none;
    }
  }

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--nojs .main-nav__list-wrapper {
    position: static;
    min-height: 0;
  }

  &--nojs .nav-list__item {
    display: block;
  }

  .main-nav__list {
    @media (min-width: $bp-tablet) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $bp-desktop) {
      width: 610px;
      margin-left: auto;
      padding-left: 132px;
    }
  }
}
