.map {
  border: none;

  @media (min-width: $bp-tablet) {
    position: relative;
  }

  .map__image {
    @media (min-width: $bp-tablet) {
      height: 400px;
      width: 100%;
    }

    @media (min-width: $bp-desktop) {
      width: 1440px;
    }
  }
}
