.page-footer {
  padding-top: 40px;
  padding-bottom: 22px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
    padding-top: 49px;
    padding-bottom: 63px;
  }

  @media (min-width: $bp-desktop) {
    padding-top: 55px;
  }

  .page-footer__social {
    display: flex;
    padding: 20px;
    margin-top: 32px;
    margin-bottom: 19px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @media (min-width: $bp-tablet) {
      margin: 0;
      padding: 0;
      margin-right: auto;
      margin-left: auto;
      border: none;
    }
  }

  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
    min-height: 34px;

    @media (min-width: $bp-tablet) {
      justify-content: stretch;
      align-items: center;
    }
  }
}
