.page-header {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    max-width: 768px;
    display: flex;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 27px;
  }

  @media (min-width: $bp-desktop) {
    max-width: 1440px;
    padding-top: 53px;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 0;
  }
}
