.page-header {
  @media (min-width: $bp-tablet) {
    display: flex;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 27px;
  }

  @media (min-width: $bp-desktop) {
    padding-top: 53px;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 0;
  }
}
