.products-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  color: #222222;
  margin: 0;
  padding-top: 15px;

  @media (min-width: $bp-tablet) {
    padding: 0;
  }
}

.products-item__description {
  font-size: 14px;
  line-height: 1;
  color: #444444;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $bp-tablet) {
    padding: 0;
    min-width: 200px;
    margin-left: auto;
  }

  @media (min-width: $bp-desktop) {
    min-width: 285px;
    padding-right: 40px;
  }
}

.products-item__link {
  margin-bottom: 17px;

  @media (min-width: $bp-tablet) {
    margin: 0;
  }

  @media (min-width: $bp-desktop) {
    max-width: 245px;
    margin-left: auto;
  }
}

.products-item__wrapper {
  @media (min-width: $bp-tablet) {
    display: flex;
    padding-bottom: 25px;
  }

  @media (min-width: $bp-desktop) {
    padding: 0;
    align-items: center;
    flex-grow: 1;
  }
}
