.products-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  color: #222222;
  margin: 0;
  padding-top: 15px;
}

.products-item__description {
  font-size: 14px;
  line-height: 1;
  color: #444444;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.products-item__link {
  margin-bottom: 17px;
}
