.profile {
  padding-top: 15px;
  padding-bottom: 32px;

  @media (min-width: $bp-tablet) {
    padding-top: 28px;
    padding-bottom: 74px;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $bp-desktop) {
    max-width: 1440px;
    padding: 0 110px;
    margin-top: 60px;
    margin-bottom: 85px;
  }

  .profile__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.67;
    padding-bottom: 25px;

    @media (min-width: $bp-tablet) {
      border: none;
      padding-bottom: 55px;
      font-size: 60px;
      line-height: 1;
    }

    @media (min-width: $bp-desktop) {
      padding: 0;
      padding-top: 14px;
    }
  }

  .profile__preface {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    padding-right: 30px;
    margin-bottom: 20px;

    @media (min-width: $bp-tablet) {
      max-width: 385px;
      font-size: 20px;
      line-height: 1.5;
      margin: 0;
      margin-left: 40px;
      margin-bottom: 67px;
    }

    @media (min-width: $bp-desktop) {
      margin-left: 0;
      margin-top: 54px;
      padding: 0;
    }
  }
}
