.story {
  background-color: #f2f2f2;
  padding-top: 17px;
  padding-bottom: 35px;

  @media (min-width: $bp-tablet) {
    padding-top: 22px;
    padding-bottom: 68px;
    background: linear-gradient(to top, #f2f2f2 462px, #ffffff 0, #ffffff);
  }

  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 70px;
  }

  .story__example {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.67;
    padding-left: 20px;

    @media (min-width: $bp-tablet) {
      font-size: 60px;
      line-height: 1;
      padding-left: 30px;
    }

    @media (min-width: $bp-desktop) {
      padding-left: 0;
    }
  }

  .story__description {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 26px;
    font-size: 14px;
    color: #444444;
    letter-spacing: 0.1px;

    @media (min-width: $bp-tablet) {
      margin-top: 60px;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 55px;
      letter-spacing: 0;
      max-width: 710px;
      padding: 0;
      padding-left: 30px;
    }

    @media (min-width: $bp-desktop) {
      margin-top: 147px;
      width: 431px;
      margin-bottom: 70px;
      padding: 0;
    }
  }

  .story__results {
    display: flex;
    justify-content: space-between;

    @media (min-width: $bp-tablet) {
      min-width: 366px;
    }
  }

  .story-results__expenses {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 18px;

    @media (min-width: $bp-tablet) {
      font-size: 20px;
      margin: 0;
      margin-left: auto;
      max-width: 175px;
      padding-top: 7px;
      text-align: right;
    }

    @media (min-width: $bp-desktop) {
      margin: 0;
      text-align: left;
      max-width: 330px;
      padding-top: 50px;
    }
  }

  .story-results__cost {
    @media (min-width: $bp-desktop) {
      display: inline-block;
      margin-left: 60px;
    }
  }

  .story__example-cost {
    padding-left: 3px;

    @media (min-width: $bp-tablet) {
      padding-top: 10px;
      font-size: 20px;
      line-height: 1;
      text-align: right;
    }
  }

  .story__image-toggle {
    display: flex;
    justify-content: center;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 1.25;
    text-transform: uppercase;
    margin-top: 35px;
    position: relative;

    @media (min-width: $bp-tablet) {
      justify-content: space-between;
      padding: 0 69px;
      margin-top: 20px;
      font-size: 20px;
      line-height: 1;
    }

    @media (min-width: $bp-desktop) {
      margin-top: 38px;
      padding: 0;
      margin-left: 66px;
    }
  }

  .story__results-wrapper {
    @media (min-width: $bp-tablet) {
      display: flex;
    }

    @media (min-width: $bp-desktop) {
      flex-direction: column;
      margin: 0;
      padding: 0;
      max-width: 365px;
    }
  }

  .story__image {
    height: 238px;

    @media (min-width: $bp-tablet) {
      width: 636px;
      height: 517px;
      margin: 0 auto;
    }
  }

  .story__inner {
    @media (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
    }
  }

  .story__image-wrapper {
    margin-top: 35px;

    @media (min-width: $bp-tablet) {
      margin-top: 80px;
      padding: 0 30px;
    }

    @media (min-width: $bp-desktop) {
      position: absolute;
      top: -52px;
      right: 110px;
      margin: 0;
      padding: 0;
      min-width: 570px;
    }
  }
}
